@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@500&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');
* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 1.05);
    height: 75px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.logo {
    position: relative;
    padding: 30px;
    font-size: 20px;
    /* left: 40px; */
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: italic;
    padding-left: 100px;
    border-bottom: 2px solid purple;
}
.icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 180px;
}
.icons div{
    padding: 20px;
    font-size: 18px;
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
